@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background-color: #F9E4C7;
  color: black;
  font-family: "Jura", sans-serif;
  font-weight: 300;


}

.uuio {
  width: 80%;
  margin: 2% auto;
}

header ul.nav {
  margin-right: 15%;
  margin-top: 1%;
  float: right;
  list-style: none;
  color: #c83737;
  /* border-color: #c83737; */
}

header ul.nav li {
  display: flex;
  /* margin-left: 0.1%; */
  /* margin-right: 1%; */
  cursor: pointer;
  transition: opacity 500ms ease;
  color: black;
  align-items: center;


}

header ul.nav li:hover {
  opacity: 0.8;
}

footer h3 {
  font-size: 100%;
  padding-top: 10%;
  padding-bottom: 2.5%;
  /* padding-left: 20px; */
  margin-bottom: 2%;

  /* color: #000000; */
}

.logo {
  /* margin-bottom:5%; */
  font-weight: 600;
  margin-left: 10%;
  /* margin-top: 100px; */
  font-size: 250%;
  vertical-align: middle;
  text-decoration: none;
  color: #000000;
  /* margin-top: 50px; */




  /* padding-left: 20px; */

}

.presentesion {
  /* margin: 20px 0; */
  background: url('./Components/img/qwe.jpg') no-repeat;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.presentesion::after {


  content: "Эксклюзивные конфеты из бельгийского и французского шоколада.Ручная работа. Тонкий подход к рецептуре, форме и упаковке.Доставка по всей России.";
  position: absolute;
  top: 45%;
  left: 20%;
  width: 65%;
  font-size: 190%;
  font-weight: 500;
  color: white;
  text-align: center
}

header .shop-cart-button {
  float: right;
  cursor: pointer;
  transition: color, transform, 500ms ease;
  position: relative;
  margin-top: 10%;


}

header .shop-cart-button:hover,
header .shop-cart-button.active {
  transform: scale(1.5);
  position: relative;


  color: rgb(255, 0, 0);
}

header .shop-cart {
  position: absolute;
  top: 4%;
  right: 35%;
  width: 500px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 9px 10px 24px 3px rgba(39, 48, 56, 0.2);
  -moz-box-shadow: 9px 10px 24px 3px rgba(39, 48, 56, 0.2);
  box-shadow: 9px 10px 24px 3px rgba(39, 48, 56, 0.2);
  z-index: 1000;
  /* border-radius: 9%; */

  padding: 2%;
  padding-bottom: 0;
}

header .shop-cart .item .delete-icon {
  color: black;
  float: right;
  position: relative;
  top: -30px;
  transition: color, transform, 500ms ease;

}

header .shop-cart .item .delete-icon:hover {
  color: red;
  transform: scale(1.5);
}

.empty h2 {
  font-size: 170%;
  margin-bottom: 5%;
  text-align: center;
}

header .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 10%;
}

header .shop-cart .summa {
  float: left;
  width: 100%;
  font-size: 130%;
  font-weight: 600;
  margin-bottom: 3%;
}

header .shop-cart .item img {
  width: 20%;
  float: left;
  margin-right: 6%;
}

header .shop-cart .item h2 {
  font-size: 100%;
  margin-bottom: 1%;
}

header .shop-cart .item p {
  color: #797979;
  font-weight: 600;

}

header {
  position: relative;

}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  width: 26%;
  margin-bottom: 4%;
  background-color: aliceblue;
  overflow: hidden;
  position: relative;
  padding-bottom: 2.3%;
  /* border-radius: 5%; */

}

main .item img {
  width: 100%;
  height: 57%;
  border-radius: 1% 1% 0 0;
  transition: transform 500ms ease;
  cursor: pointer;

}

main .item img:hover {
  transform: scale(1.05);
}

.full-item img:hover {
  transform: scale(1.05);
}

.full-item b,
.full-item h2,
.full-item p {
  margin: 2% 2%;
  color: #0f0f0f;

}

.full-item .textlr {
  font-size: 260%;
}

.full-item .textlr2 {
  font-size: 150%;
}

.full-item .cvb {
  font-size: 100%;
  font-weight: 600;


}

main h2,
main p,
main b {
  margin: 6% 6%;
  color: #333;

}

.full-item b {
  color: black;
  font-weight: 700;

}

main b {
  color: black;
  font-weight: 700;

}

main .add-to-cart {
  /* position: absolute; */
  right: 4%;
  bottom: 6%;
  background: #e8c5c5;
  width: 45%;
  height: 8%;
  text-align: center;
  line-height: 3%;
  color: black;
  border-radius: 6%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;

}


main .add-to-cart:hover,
.full-item .add-to-cart:hover {
  transform: scale(1.01) translateY(-5px);
}

.qwe {
  grid-area: 1 / 1;

}

.ewq {
  grid-area: 1 / 2;

}

.full-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
  background-color: rgba(0, 0, 0, 0.803);
  z-index: 9999;
  overflow: auto;
  display: grid;
  width: 80%;
  padding: relative;
  margin: 10% auto;
  padding: 2% 1%;
  background: #fff;
  border: 9px;
  /* border: 9px; */



}

.add-to-cart {
  position: absolute;
  /* right: 500px;
  bottom: 10px; */
  background: #e8c5c5;
  width: 15%;
  height: 8%;
  text-align: center;
  /* line-height: 30px; */
  color: black;
  border-radius: 5%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}

.full-item img {
  width: 100%;
  height: 90%;
  border-radius: 10px 10px 10px 10px;
  transition: transform 500ms ease;
  cursor: pointer;

}

/* .full-item > div{
  width: 700px;
  padding: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #fff;
  border: 9px;
} */
.categoris {
  text-align: center;

}

.categoris div {
  display: inline-block;
  background: #ebd2d2;
  border-radius: 50px;
  padding: 1% 2%;
  margin-bottom: 3%;
  margin-right: 1.5%;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1% solid transparent;
  transition: all 500ms ease;
  text-align: center;
}

.categoris div:hover {
  border-color: silver;
  transform: scale(1.1);
}

#contact {
  font-family: Arial, sans-serif;
  padding: 20%;
  background-color: #f8f8f8;
  border-radius: 5%;
}

.contact-info p {
  margin: 5% 0;
}

#contact-form {
  margin-top: 20%;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 1000%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.logo1 {
  width: 35%;
}

#map {
  height: 300%;
  margin-top: 20px;
  background-color: #c83737;
}

.about {
  /* width: 1280px;
  margin: 20px auto; */
  display: grid;
}

.about .qwerty {
  background-image: url(./Components/img/повар5.jpg);
  width: 65%;
  height: 390px;
  float: right;
  margin: 2%;
  border-radius: 1%
}

.about h3 {
  font-weight: 400;
  /* font-size: larger */
}

.about .abn {
  text-align: center;
  margin: 1%
}

.about .create-line {
  width: 100%;
  border-top: 1px solid #000000;
}

.about .verh {
  grid-area: 1 / 1;
  width: 80%;
  margin: 2% auto;
}

.about .text {
  width: 80%;
  margin: 2% auto;
}

.about .niz {
  grid-area: 2 / 1;
  text-align: center;
  margin-bottom: 3%
}

.about .niz h3 {
  margin-bottom: 2%;
}

ul,
li {
  list-style: none;
  margin-bottom: 1%;
  font-weight: 500;
}

.svb {
  background-image: url(./Components/img/logo.svg);
}

.contact1 h1 {
  top: 3%;
  font-size: 230%;
  margin: 2%;
  text-align: center;
}

.contact1 {


  width: 80%;
  margin: 2% auto;
}

.contact1 h2 {
  font-size: 150%;
  margin: 1%
}

.karta {
  margin: 1%;
  background-image: url(.//Components/img/kart.jpg);
  width: 100%;
  height: 500px;
  margin-bottom: 2%;

}

.dva {
  grid-area: 1 / 2;
  margin: 2%;

}

.odin {
  margin: 2%;
  grid-area: 1 / 1
}

.recvizit {
  margin-bottom: 90%
}

.contac2 {

  display: grid;
  top: 1%;

}

footer ul.nav {
  margin-right: 10%;
  margin-top: 5%;
  /* float: right; */
  list-style: none;
}

footer ul.nav li {
  /* display: inline; */
  /* margin-left: 60px; */
  cursor: pointer;
  transition: opacity 500ms ease;
  color: black;
  text-decoration: none;
  font-size: 120%;


}

footer {
  background-color: white;
  margin: auto;

}

footer ul.nav li:hover {
  opacity: 0.5;
}

.footer-content1 {
  /* margin-top: 20px; */
  margin: 20%;
  text-decoration: none;
  color: #000000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 80%;
  margin: 0.01% auto;
  /* display: ; */
  /* left: 10px; */


}

footer .vtoroi-block ul.nav {
  text-decoration: none;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.pervii-block .logo1 {
  text-decoration: none;
  margin-top: 2%;


}

.vtoroi-block ul.nav li {
  cursor: pointer;
  transition: opacity 500ms ease;
  color: black;
  text-decoration: none;
  margin-top: 2%;

}

/* footer ul.nav{
  margin-right: 100px ;  
  margin-top: 15px; */
/* float: right; */
/* list-style: none;
  text-decoration: none;

}
footer ul.nav li{ */
/* display: inline; */
/* margin-left: 60px; */
/* cursor: pointer;
  transition: opacity 500ms ease;
  color: black;
  text-decoration: none; */
/* background-color: ; */

/* } */

.mini {
  font-size: 8%;
  color: #797979;
  font-weight: 600;
}

.momo {
  font-size: 7%;
  color: #797979;
  font-weight: 600;
}

.tretii-block h2 {
  font-size: 120%;
  margin-top: 3%;
}

/* .tretii-block{
  top;
} */
.rty {
  font-size: 300%;
  text-align: center;
  margin-bottom: 2%;
}


input,
button {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}

button {
  background: #e8c5c5;
  width: 45%;
  height: 8%;
  text-align: center;
  /* line-height: 3%; */
  /* color: black; */
  border-radius: 3%;
  border: 1.5px solid #000;

  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
  text-align: center;
  margin: 5% 5% 10% 10%;
}
/* button .add-to-cart1 {
  background: #e8c5c5;
  width: 45%;
  height: 8%;
  text-align: center;

  border-radius: 3%;
  border: 1.5px solid #000;

  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
  text-align: center;
  margin: 5% 5% 10% 10%;
} */

button :hover {
  transform: scale(1.01) translateY(-5px);
}

.vas {
  font-size: 170%;
  margin: 3% 3% 3% 0;
}

.line1 {
  width: 100%;
  height: 0.5px;
  background-color: black;
  margin: 5% 0;
}
.animate {
  animation: flyToCart 0.5s forwards; 
}

@keyframes flyToCart {
  0% {
    transform: translateY(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-100px) scale(0); 
    opacity: 0;
  }
}

.quantity-controls button {
  margin: 0 6px;
  width: 30px;
  /* height:30px; */
}

.quantity-controls input {
  width: 10%;
  height:30px;

  text-align: center;
}
.buttonpli{
  width: 30px;
  /* height:30px; */

}
.buttonmin{
  width: 30px;
  /* height:30px; */

}
/* .add-to-cart {
  position: relative; } */
.cart-icon {
  margin-left: 5px; 
  font-size: 1rem; 
  vertical-align: middle; 
}

.zxc{
  margin-left: 10%;
}
.animated-image {
  position: absolute;
  transition: transform 1s ease, opacity 1s ease;
  opacity: 0.8;
  pointer-events: none; 
}
.sujbmit{
  margin: 10px 10px 40px 26%;
}